@keyframes animate {
  0% {
    transform: translateY(0px) rotate(0deg) translateX(-50px);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg) translateX(-50px);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: var(--main-light);
  overflow: hidden;
  z-index: -1;
}

.background li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 20px;
  height: 20px;
  font-size: 1.6rem;
  color: var(--main-dark);
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li.darkModeL {
  color: var(--white);
}

.background li:nth-child(0) {
  left: 53%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 48%;
  width: 139px;
  height: 139px;
  bottom: -139px;
  animation-delay: 4s;
}
.background li:nth-child(2) {
  left: 33%;
  width: 141px;
  height: 141px;
  bottom: -141px;
  animation-delay: 2s;
}
.background li:nth-child(3) {
  left: 7%;
  width: 156px;
  height: 156px;
  bottom: -156px;
  animation-delay: 15s;
}
.background li:nth-child(4) {
  left: 23%;
  width: 135px;
  height: 135px;
  bottom: -195px;
  animation-delay: 16s;
}
.background li:nth-child(5) {
  left: 17%;
  width: 126px;
  height: 126px;
  bottom: -126px;
  animation-delay: 4s;
}
.background li:nth-child(6) {
  left: 65%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 18s;
}
.background li:nth-child(7) {
  left: 80%;
  width: 143px;
  height: 143px;
  bottom: -143px;
  animation-delay: 18s;
}
.background li:nth-child(8) {
  left: 30%;
  width: 164px;
  height: 164px;
  bottom: -164px;
  animation-delay: 23s;
}
.background li:nth-child(9) {
  left: 82%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 2s;
}

.darkMode {
  background-color: var(--main-darker);
}