/* src/components/AnimatedBackground/AnimatedBackground.module.css */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -1; /* Ensure it is behind other content */
}

.background li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 20px;
  height: 20px;
  font-size: 1.6rem;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(1) {
  left: 7%;
  width: 155px;
  height: 155px;
  bottom: -155px;
  animation-delay: 1s;
}
.background li:nth-child(2) {
  left: 14%;
  width: 174px;
  height: 174px;
  bottom: -174px;
  animation-delay: 2s;
}
.background li:nth-child(3) {
  left: 2%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 2s;
}
.background li:nth-child(4) {
  left: 12%;
  width: 117px;
  height: 117px;
  bottom: -117px;
  animation-delay: 14s;
}
.background li:nth-child(5) {
  left: 39%;
  width: 169px;
  height: 169px;
  bottom: -169px;
  animation-delay: 20s;
}
.background li:nth-child(6) {
  left: 73%;
  width: 197px;
  height: 197px;
  bottom: -197px;
  animation-delay: 7s;
}
.background li:nth-child(7) {
  left: 38%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 25s;
}
.background li:nth-child(8) {
  left: 76%;
  width: 149px;
  height: 149px;
  bottom: -149px;
  animation-delay: 29s;
}
.background li:nth-child(9) {
  left: 43%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 36s;
}
.background li:nth-child(10) {
  left: 53%;
  width: 145px;
  height: 145px;
  bottom: -145px;
  animation-delay: 20s;
}
