.card {
  width: 500px;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  box-shadow: var(--main-dark-opac20) 0px 13px 27px -5px,
    var(--main-dark-opac20) 0px 8px 16px -8px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.068);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  backdrop-filter: blur(2px);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: var(--main-darker);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 3px;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #1bbdfd;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #17c26c;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.footer {
  margin-top: 40px;
  text-align: center;
}
