.header {
  position: sticky;
  top: 0px;
  padding: 15px 30px;
  background-color: var(--white-opac90);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__items {
  display: flex;
  align-items: center;
}

.nav__item {
  width: 70px;
  margin: 20px;
  text-align: center;
}

.nav__item:hover {
  color: var(--main-dark);
  font-weight: bold;
}
